<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="ProfileImage">
            <img src="https://i.ibb.co/ZHKKPTJ/Usuario.png" alt="">
        </div>
        <div class="datosUsuario">
            <span class="nombre">Nombre: </span>
            <span class="nombreUsuario">Nombre Completo</span>
            <span class="edad">Edad: </span>
            <span class="edadUsuario">Edad</span>
            <h1 class="PrimerTitulo">Areas de interes laborales</h1>
            <div class="AreasLaborales">
                <span class="interes1"></span>
                <span class="interes2"></span>
                <span class="interes3"></span>
                <span class="interes4"></span>
                <span class="interes5"></span>
                <span class="interes6"></span>
            </div>
            <h2 class="SegundoTitulo">Descripcion de perfil laboral</h2>
            <div>
                <p class="descripcionPerfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, aliquam, laudantium possimus exercitationem unde iusto dolore odio, quibusdam neque autem quo inventore fugit dolor sapiente minus facilis sit nobis iure!</p>
            </div>
        </div>
        <div class="redesSociales">
            <img src="" alt="">
            <img src="" alt="">
            <img src="" alt="">
        </div>
        <div class="likeDislike">
            <span>No me gusta </span>
            <input type="button">
            <span>Me gusta</span>
            <input type="button">
        </div>
    </div>
</body>
</html>