<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">
        <div class="ProfileImage">
            <img src="https://i.ibb.co/ZHKKPTJ/Usuario.png" alt="">
        </div>
        <div class="datosUsuario">
            <p class="nombre">Nombre: </p>
            <span class="nombreUsuario">Nombre Completo</span>
            <p class="edad">Edad: </p>
            <span class="edadUsuario">Edad</span>
            <h1 class="PrimerTitulo">Areas de interes laborales</h1>
            <div class="AreasLaborales">
                <input class="area1" type="text" readonly>
                <input class="area2" type="text" readonly>
                <input class="area3" type="text" readonly>
                <input class="area4" type="text" readonly>
                <input class="area5" type="text" readonly>
                <input class="area6" type="text" readonly>
            </div>
            <h2 class="SegundoTitulo">Descripcion de perfil laboral</h2>
            <div>
                <p class="descripcionPerfil">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, aliquam, laudantium possimus exercitationem unde iusto dolore odio, quibusdam neque autem quo inventore fugit dolor sapiente minus facilis sit nobis iure!</p>
            </div>
        </div>
        <div class="redesSociales">
            <img class="logo" src="https://i.ibb.co/qJ2PWr8/image2.png" alt="">
            <img class="facebook" src="https://i.ibb.co/RNGKLdy/Facebook-Logo.png" alt="">
            <img class="instagram" src="https://i.ibb.co/hgzVxVX/3621435.png" alt="">
        </div>
        <div class="likeDislike">
            <span class="dislike">No me gusta </span>
            <button class="boton1"></button>
            <span class="like">Me gusta</span>
            <button class="boton2"></button>
        </div>
    </div>
</body>
</html>