body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ProfileImage img{
    width: 350px;
}

.ProfileImage{
    border: 1.3333333333333333px solid black;
    position: absolute;
    display: flex;
    font-family: 'Helvetica';
    margin: 80px 0 0 50px;
    padding-right: 10px;
    width: 18%;
}

.datosUsuario{
    border: 1.3333333333333333px solid black;
    position: absolute;
    margin: 50px 0 0 450px;
    padding: 20px 0 0 15px;
    width: 36%;
}

.nombre{
    position: absolute;
    font-weight: bold;
}

.nombreUsuario{
    position: absolute;
    padding: 15px 0 0 80px;
    
}

.edad{
    position: absolute;
    padding: 28px 0 0 0;
    font-weight: bold;
}

.edadUsuario{
    position: absolute;
    padding: 42px 0 0 58px;
}

.PrimerTitulo{
    position: absolute;
    padding-top: 50px;
}

.AreasLaborales{
    border: 1.3333333333333333px solid black;
    width: 85%;
    margin: 115px 0 0 15px;
    background-color: rgb(179, 178, 178);
    padding-bottom: 100px;
}

.descripcionPerfil{
    border: 1.3333333333333333px solid black;
    width: 85%;
    margin: 0 0 35px 6px;
    background-color: rgb(179, 178, 178);
    padding: 10px 5px 40px 10px;
}

.likeDislike{
    margin: 550px 0 0 700px;
}

.likeDislike button{
    border-radius: 50px;
}