<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="mainProfile.css">
    <title>Document</title>
</head>
<body>
    <header>
        <div class="nabvar">
            <a href="../mainView/Aspirante/mainAspirante.html">Main</a>
            <a href="../profileView/mainProfile.html">Profile</a>
            <a href="../chatView/index.html">Chats</a>
        </div>
    </header>
    <main>
        <div class="post">
            <div class="post1-prof">
            <div class="img">
                <img src="cv-image.jpg" alt="">
            </div>
            <div class="info">
                <div class="prof-profile"></div>
                <div class="prof-profile"></div>
                <div class="prof-profile"></div>
                <div class="prof-profile"></div>
                <div class="prof-profile"></div>
                <div class="prof-profile"></div>           
            </div>
            
            </div>
            <div class="post2-prof">
            <div class="profile-prof">
                <input type="text" name="empresa" id="" placeholder="Nombre de empresa">
                <br>
                <input type="email" name="correo" id="" placeholder="Correo">
                <br>
                <input type="password" name="contraseña" id="" placeholder="Contraseña">
                <br>
                <input type="text" name="nit" id="" placeholder="Nit">
                <br>
            </div>
            <div class="description_profile">
                <label for="description">Descripcion de perfil</label>
                <br>
                <input type="text" name="description" id="" class="description">
            </div>
            </div>
            <div class="post3-prof">
                <div class="button-prof">
                    <button class="btn"><a href="../registerViews/registerBusiness/log.html">EDITAR</a>  </button>
                </div>
            </div>
          </div>
    </main>
</body>
</html>