<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="log.css">
</head>
<body>
    <div id="app">
        
    </div>

    <div class="modalContainer" id="myModal">
       <div class="modalContent">
          
           <span class="close">X</span>
           <h1>Cuentanos mas sobre ti</h1>
           <div class="father">
               <div class="carrera">
                   Comunicacion Social
               </div>
               <div class="carrera">
                   Administracion de empresas
               </div>
               <div class="carrera">
                   contaduria publica
               </div>
               <div class="carrera">
                   contaduria publica
               </div>
 
           </div>
 
           <div class="father">
               <div class="carrera">
                   contaduria publica
               </div>
               <div class="carrera">
                   contaduria publica
               </div>
               <div class="carrera">
                   contaduria publica
               </div>
               <div class="carrera">
                   contaduria publica
               </div>
 
           </div>
 
           <div class="father">
               <div class="carrera">
                   contaduria publica
               </div>
               <div class="carrera">
                   contaduria publica
               </div>
               <div class="carrera">
                   contaduria publica
               </div>
               <div class="carrera">
                   contaduria publica
               </div>
 
           </div>
          
         
          
          
       </div>
   </div>

    <script type="module" src="./mainLog.js">
    </script>
    
</body>

</html>