<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Log in</title>
</head>


<body>
    <div id="modal" class="modal">
        <span class="close">&times;</span>
        <div class="content-modal">
            <div class="card">
                <div class="image"></div>
                <h1>Como aspirante</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium laboriosam vero repellendus ad nam incidunt natus optio eligendi, laudantium ducimus reprehenderit in alias eaque aspernatur consectetur tempora dignissimos recusandae maiores?</p>
                <button class="button-modal"><a href="../registerViews/registerAplicants/index.html">Continuar</a></button>
            </div>
            <div class="card">
                <div class="image"></div>
                <h1>Como empresa</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Praesentium laboriosam vero repellendus ad nam incidunt natus optio eligendi, laudantium ducimus reprehenderit in alias eaque aspernatur consectetur tempora dignissimos recusandae maiores?</p>
                <button class="button-modal" ><a href="../registerViews/registerBusiness/log.html">Continuar</a></button>
            </div>
        </div>
    </div>
    <main>
        <section class="left">
            <div class="logo"></div>
            <h1 class="title">TINDEM</h1>
            <div class="data">
                <input type="text" class="user" placeholder="usuario">
                <input type="password" class="pass" placeholder="contraseña">
            </div>
            <button type="button" class="button-login">Ingresar</button>
            <button type="button" id="register" class="register" ><i>Registrarse</i></div>
        </section>
        <section class="right">
            <div class="logo"></div>
            <div class="phrase"> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, temporibus.</div>
        </section>
    </main>   
</body>
<script src="login.js"></script>
</html>