<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="log.css">
</head>
<body>
    <div id="app">
        
    </div>
    <img src="" alt="">
    <div class="modalContainer" id="myModal">
       <div class="modalContent">
          
           <span class="close">X</span>
           <h1>Cuentanos mas sobre ti</h1>
           <p>Perfiles profesionales deseados</p>
           <div class="father">
               <div class="carrera">
                   Comunicacion Social
               </div>
               <div class="carrera">
                   Administracion de empresas
               </div>
               <div class="carrera">
                   contaduria publica
               </div>
               <div class="carrera">
                   Finanzas y negocios internacionales
               </div>
           </div>
 
           <div class="father">
               <div class="carrera">
                   mercadeo y publicidad
               </div>
               <div class="carrera">
                   administracion de servicios de salud
               </div>
               <div class="carrera">
                   administracion logistica
               </div>
               <div class="carrera">
                   ingenieria en sistemas 
               </div>
 
           </div>
 
           <div class="father">
               <div class="carrera">
                   chef
               </div>
               <div class="carrera">
                   servicios generales
               </div>
               <div class="carrera">
                   seguridad
               </div>
               <div class="carrera">
                   guarda de seguridad
               </div>
            </div>


            <button class="buttonModalBusiness" class="submit"><a href="../../mainView/Aspirante/mainAspirante.html">Continuar</a></button>
 
       

        </div>

       
   </div>

    <script type="module" src="./mainLog.js">
    </script>
    
</body>

</html>