<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Company View</title>
    <link rel="stylesheet" href="company.css">
</head>
<body>
    <header class="header">
        <!--Logo - Si es que existe-->
        <div class="logo"></div>
        <nav>
            <ul class="nav">
                <li>
                    <a href="#">Main</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Chats</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <!--Contenedor de imagenes y logos // Izquierda-->
            <div class="contLeft">
                <div class="contProfileImg">
                    <img class="profileImg" src="img/gatoTamalHD.png" alt="logoInsano">
                </div>
                <div class="contLogos">
                    <ul>
                        <li class="socialOne">
                            <a href="#" class="socialLink">
                                <img class="social left" src="img/gatoTamal.png" alt="logoInsano">
                            </a>
                        </li>
                        <li class="socialTwo">
                            <a href="#" class="socialLink">
                                <img class="social middle" src="img/gatoTamal.png" alt="logoInsano">
                            </a>
                        </li>
                        <li class="socialThree">
                            <a href="#" class="socialLink">
                                <img class="social right" src="img/gatoTamal.png" alt="logoInsano">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        <!--Contenedor de información de usuario // Derecha-->
            <div class="contRight">
                <div class="contInfoCompany">
                    <div class="contBasicInfo">
                        <div class="regularInfo">
                            <p>Nombre:</p>
                            <p class="companyFont" id="companyName">elGato</p>
                        </div>
                        <div class="regularInfo">
                            <p>NIT:</p>
                            <p class="companyFont" id="companyNit">Tamal</p>
                        </div>
                    </div>
                    <div class="contSkill">
                        <div class="skillTitle companyMainTitle">
                            <h2>Perfil profesional deseado</h2>
                        </div>
                        <div class="skills">
                            <div class="profileSkill">
                                <p class="skillText">hola Mundo Mundo Mundo Hola</p>
                            </div>
                            <div class="profileSkill">
                                <p class="skillText">hola</p>
                            </div>
                            <div class="profileSkill">
                                <p class="skillText">hola Mundo Mundo Hola</p>
                            </div>
                            <div class="profileSkill">
                                <p class="skillText">hola</p>
                            </div>
                            <div class="profileSkill">
                                <p class="skillText">hola Mundo Mundo Hola</p>
                            </div>
                            <div class="profileSkillT">
                                <p class="skillText">hola</p>
                            </div>
                            <div class="profileSkillT">
                                <p class="skillText">hola Mundo Mundo Hola</p>
                            </div>
                            <div class="profileSkillT">
                                <p class="skillText">hola</p>
                            </div>
                            <div class="profileSkillT">
                                <p class="skillText">hola Mundo Hola</p>
                            </div>           
                        </div>
                    </div>
                    <div class="contDescript">
                        <div class="descriptionTitle companyMainTitle">
                            <h2>Descripción de perfil laboral</h2>
                        </div>
                        <div class="description">
                            <p class="descriptArea">
                                Lorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipiLorem ipsum dolor sit amet, consectetur adipi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="contSelectBtn">
                    <div class="rejectCont logoSelect">
                        <p>No me gusta</p>
                        <a href="#" class="rejectImage">
                            <img class="logo" src="img/reject.png" alt="RejectIMG">
                        </a>
                    </div>
                    <div class="confirmCont logoSelect">
                        <a href="#" class="confirmImage">
                            <img class="logo" src="img/confirm.png" alt="ConfirmIMG">
                        </a>
                        <p>Me gusta</p>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>